@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf);
}


header {
    background-color: #03863c;
    background-image: linear-gradient(to bottom, #3BD27F, #00000000);
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.393);
    
}

#txtcabeçalho {
    margin-top: 0px;
    padding: 1px;
}

#txtcabeçalho h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.348);
}

#txtcabeçalho p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.29);
    padding-left: 15px;
    padding-right: 15px;
}

nav{
    display: flex;
}

nav p {
    padding: 0px 10px 0px 10px;
}

nav p:hover {
    background-color: #84e1ac73;
    transition: 0.5s;
    border-radius: 10px;
}

body {
    background-color: #84E1AD;
    margin: 0;
    padding: 0;
}

body main {
    background-color: #fff;
    margin: auto;
    text-align: center;
    padding: 16px;
    text-align: justify;
    max-width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.399);
    line-height: 2em;
}

body main h1 {
    font-family: 'android';
    text-align: left;
    color: #03863c;
}

body main h2 {
    font-family: 'android';
    text-align: left;
    color: #03863c;
    background-color: #84e1acae;
    background-image: linear-gradient(to right, #03863c00, #ffffff);
}

body main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#video {
    background-color: #03863c;
    padding-bottom: 59%;
    position: relative;
}

iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#caixa h3 {
    background-color: #2FA866;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    font-size: 20px;
}

#caixa {
    background-color: #C5EBD6;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#listacaixas {
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    margin-bottom: -20px;
}